@tailwind base;
@tailwind utilities;
@tailwind components;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

.react-modal-overlay {
    background: rgba(0,0,0,0.5);
    position: fixed;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.react-modal-content {
    width: 100%;
    max-width: 576px;
    background-color: #fff;
    padding: 3rem;
    position: relative;
    border-radius: 0.5rem;
}

.react-modal-close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    border: 0;
    background-color: transparent;
    transition: filter 0.2s;   
}



  
  
